:root {
  /*pseudo elemento para definir una paleta*/
  --blanco: #ffffff;
  --oscuro: #212121;
  --semioscuro: #373737;
  --primario: #f25c05;
  --secundario: #f2dbae;
  --gris: #c8b7a7;
  --naranja: #d96e30;
}
html {
  scroll-behavior: auto;
}
body {
  background-color: var(--blanco);
  margin: 0px;
  /*desactivamos el selector*/
  user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
eestablecer la selección de texto en ciertos elementos */
input, textarea, select {
  user-select: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
}

/*********HEADER*******/
header {
  background-color: var(--secundario);
  position: fixed;
  top: 0; /* Ajusta la posición vertical */
  left: 0;
  width: 100%;
  margin: auto;
  z-index: 3;
}
nav {
  display: flex;
  width: 100%;
  /*dividimos los elementos en el espacio unifomemente*/
  justify-content: space-between;
  z-index: 2;
}

#logo,
#escudo {
  /*les asignamos un espacio*/
  flex: 1;
}
@media (min-width: 767px) {
  /*media queries para que el boton del menu (hamburguesa)
  aparezca al tener esos px o mas no se vea*/
  #logo button {
    display: none;
  }
}
#menu {
  display: flex;
  flex: 1; /*le asignamos un espacio*/
  align-items: center;
  justify-content: center;
}
#logo img {
  /*medidaas para el logo*/
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin-left: 20px;
  margin-top: 3px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

li {
  margin: 0px 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

/************BOTONES MENU ****************/
.botonMenu {
  position: relative;
  display: flex;
  align-items: center;
  border: #373737 solid 3px;
  border-radius: 5px;
  overflow: hidden;
  user-select: none;
  background-color: var(--secundario);
  cursor: pointer;
}

.botonMenu::after,
.botonMenu::before {
  content: "";
  position: absolute;
  width: 160px;
  aspect-ratio: 1;
  background: var(--primario);
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}
.botonMenu::before {
  left: 0;
  transform: translateX(-150px);
}

.botonMenu::after {
  right: 0;
  transform: translateX(150px);
}

.botonMenu:hover:before {
  transform: translateX(-2px);
}

.botonMenu:hover:after {
  transform: translateX(2px);
}

.txtBoton {
  text-decoration: none;
  padding: 10px 20px;
  color: var(--oscuro);
  z-index: 2;
  text-shadow: 1px 1px 5px var(--blanco);

}
/**media query nav, se logrará mostrar correctamente el menu en pantaññas con tamañan igual a 480px o menor**/
@media (max-width: 767px) {
  #logo {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: var(--secundario);
  }
  #logo button {
    border: none;
    background-image: url(img/Menu.webp);
    background-size: cover;
    padding: 20px;
    margin-right: 40px;
    border-radius: 10px;
  }
  #menu {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    top: 95px; /*le resta de arriba el tamaño del logo*/
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-200%);
    -o-transform: translateX(-100%);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
  }

  #menu.activo {
    /*se añadira funcionalidad con javascript*/
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    background-color: var(--secundario);
    height: 100vh;
    z-index: 2;
  }
  #menu ul {
    flex-direction: column;
    align-self: self-start; /*alinia los items hacia el top*/
    gap: 10px;
    padding: 20px 0;
  }
  .botonMenu {
    justify-content: center; /* Centra el texto del botón */
  }
}
/***********CRONO************/
#crono {
  font-size: 35px;
  font-weight: bold;
  color: var(--blanco);
  z-index: 3;
}
#cardCrono {
  margin: 47px auto 0px;
  position: fixed;
  background: var(--oscuro);
  width: 310px;
  height: 60px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Centra horizontalmente */
  z-index: 2;
}

#cardCrono::before {
  content: "";
  position: absolute;
  width: 40px;
  background-image: linear-gradient(
    180deg,
    rgb(0, 183, 255),
    rgb(255, 48, 255)
  );
  height: 330px;
  animation: rotBGimg 4s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#cardCrono::after {
  content: "";
  position: absolute;
  background: var(--oscuro);
  inset: 5px;
  border-radius: 15px;
}
/*@media (max-width: 480px) {*/ /*lo utilizamos para quitar el t¡crono en el menu de pantallas pequeñas*/
/*#cardCrono {
    display: none;  
  }
}*/

/******CONTENEDOR*****/
.contenedor {
  width: 100%;
  height: 95vh;
  margin: 50px auto; /*paramaetro para centrarlo y separar de borde superior*/
  padding-top: 20px;
  text-align: center;
  background-image: url(img/fondo_2.webp);
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor sin distorsionarse */
  /* Opcional: ajusta el posicionamiento de la imagen */
  background-position: center top;
}
@media (max-width: 480px) {
  /* Aplicar estilos específicos para pantallas de hasta 480px de ancho */
  .contenedor {
    background-position: calc(
      0% - 220px
    ); /*posición de la imagen a la izquierda en pantallas pequeñas */
  }
}

.contenedor h1 {
  font-size: 35px;
  background-color: #373737;
  margin: 100px auto 0 auto;
  max-width: 350px;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.contenedor h2 {
  font-size: 25px;
  background-color: #373737;
  margin-bottom: 20px;
  margin: 50px auto;
  padding: 15px;
  color: #ffffff;
  width: 750px;
  max-width: 90%;
  border-radius: 10px;
}

.parrafoResumen {
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px;
  margin: 30px;
  border-radius: 10px;
  font-weight: bold;
}

/***********CARTAS*****************/
.introduccionCartas {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.introduccionCartas p {
  margin: auto;
  padding: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  max-width: 90%;
}
#cartasImagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.carta {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  cursor: pointer;
}

.cartaCuerpo {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

.cartaDelante {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000000;
  z-index: 1;
}

.carta img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carta h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  background: rgb(0, 0, 0, 0.4);
}

.cartaDetras {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);

  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.cartaDetras p {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 15px;
}

.carta:hover .cartaDelante {
  transform: perspective(600px) rotateY(180deg);
}
.carta:hover .cartaDetras {
  transform: perspective(600px) rotateY(360deg);
}

/*************REDES**************/
#redes {
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
  list-style: none;
  padding-top: 30px;
}
#redes h2 {
  background-color: var(--gris);
  text-align: center;
  margin: 30px auto;
  width: 500px;
  font-size: 25px;
  max-width: 90%;
  border-radius: 8px;
}

.iconosRedes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconosRedes .contenidoIcono {
  margin: 0 10px;
  position: relative;
}
.iconosRedes .contenidoIcono .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.iconosRedes .contenidoIcono:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -23px;
}
.iconosRedes .contenidoIcono a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.iconosRedes .contenidoIcono a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.iconosRedes .contenidoIcono a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.iconosRedes .contenidoIcono a:hover {
  color: white;
}
.iconosRedes .contenidoIcono a .relleno {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.iconosRedes .contenidoIcono a:hover .relleno {
  height: 100%;
}

.iconosRedes .contenidoIcono a[data-social="instagram"] .relleno,
.iconosRedes .contenidoIcono a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
@media (max-width: 768px) {
  .iconoInsta {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
}

/***********COLABORADORES*************/
#colaboradores {
  display: block;
  padding: 10px 0;
}
#colaboradores h2 {
  background-color: rgba(209, 209, 209, 0.4);
  width: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 20px auto;
}
.logoColaboradores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#colaboradores img {
  width: auto;
  height: 50px;
  border: solid 1px #000000;
  box-shadow: 0 5px 10px #000000;
  margin: 10px;
}

/************************reglamento***********************/
#reglamento {
  background-color: var(--gris);
  margin: 110px 30px 20px 30px; /*le damos margin top para compenzar el nav*/
  width: auto;
  border-radius: 10px;
  padding: 15px;
}
#reglamento h1 {
  margin: auto;
  text-transform: uppercase;
  text-align: center;
}
#reglamento .tiuloP {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
}
#reglamento .textoP {
  text-align: justify;
  font-size: 16px;
  margin-inline: 20px;
  line-height: 1.5;
}

/************COntacto.html****************/
.tituloFormContacto {
  font-size: 25px;
  text-align: center;
  margin: 110px auto 10px;
  width:  fit-content;
  padding: 10px 15px;
  background-color: var(--semioscuro);
  border-radius: 8px;
  color: var(--blanco);
}
.mensajeContacto {
  margin: 10px auto 20px; /*le damos margin top para compenzar el nav*/
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--secundario);
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
  max-width: 95vw;
}

#formContacto {
  background-color: var(--gris);
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px auto 50px;
  padding: 15px;
  border-radius: 8px;
}

#formContacto label {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}
#formContacto button {
  margin: 15px auto 5px;
  padding: 5px;
  width: fit-content;
}
#formContacto input {
  width: 250px;
  margin: auto;
  border-radius: 3px;
  padding: 5px 0;
}
#formContacto #textoContacto {
padding-bottom:30px ;
}


/*************Formularioi Inscripción****************/
.tituloFormInscripcion {
  font-size: 25px;
  text-align: center;
  margin: 10px auto 10px;
  width:  fit-content;
  padding: 10px 15px;
  background-color: var(--semioscuro);
  border-radius: 8px;
  color: var(--blanco);
}

#formInscripcion h2 {
  margin: 10px auto;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  background-color: var(--semioscuro);
  border-radius: 8px;
  color: var(--blanco);
}
#formInscripcion legend {
  font-size: 18px;
  font-weight: bold;
  
}
#formInscripcion {
  background-color: var(--gris);
  padding: 10px;
  margin: 10px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 760px;/*este medida para evitar que se corten los input con sus labels*/
  width: 90vw;/*ya que el margin es auto compensamos acupando solo el 90 del vW*/
}
#formInscripcion .participante {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
   row-gap: 5px;/*para tener una separación simetrica entre elementos*/
  margin: 10px 0;
}
#formInscripcion label {
  font-size: 17px;
  font-weight: bold;
  margin: 5px;  
}
#formInscripcion input {
  width: 110px;
  border-radius: 3px;
}
#formInscripcion select {
  border-radius: 4px;
}
#formInscripcion button {
  margin: 15px auto 5px;
  padding: 5px;
  width:150px;
  font-weight: bold;
  font-size: 15px;
}
#formInscripcion #nombreEquipo {
  width: 200px;
  margin: 10px 0;
  font-size: 18px;
}



/*******************error*******************/
#mensaje {
  margin: 110px auto 10px;
  font-size: 20px;
}

/************footer***************/
footer {
  background-color: var(--semioscuro);
  color: #ffffff;
  padding: 15px;
  text-align: center;
}
